.mdl-card {

  &.mdl-card--unset-width {
    margin: 0 8px;
    width: unset;

    .mdl-card__supporting-text {
      width: unset;
    }

  }

  &.plan-card{
    border: 2px solid #3F51B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    padding: 20px;
    align-self: center;
    h4,h5{
      margin-top: 0;
    }
    .plan-card__icon{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -60%) rotate(-45deg);
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      color: #3F51B5;
    }
    .mdl-chip__contact{
      span{
        font-size: 20px;
        line-height: 33px;
      }
    }
  }

  &.feature-card{
    margin: 0 auto 50px auto;
    .feature-card__icon{
      color: #3F51B5;
      font-size: 40px;
      padding: 16px 16px 0 16px;
    }
  }
}
