.plans-container {
  .mdl-card__title {
    color: #fff;
    height: 150px;
    background: url('@/images/dog.png') bottom right 15% no-repeat #46B6AC;
  }

  .plans-container__plan {
    border-radius: 10px;
    margin-bottom: 67px;
  }

  .plans-container__submit {
    width: 100%;
    border-radius: 20px;
  }
}

.mdl-radio__outer-circle{
  top:30px;
}
.mdl-radio__inner-circle{
  top:34px;
}

.mdl-radio{
  min-width: 286px;
}
.mdl-list__item{
  border-radius: 10px;
}