@import "~material-design-lite/material.min.css";

@import 'components/pack-card.scss';

@import "auth";

body {
  height: 100%;
}

.footer {
  box-sizing: border-box;
  height: 15vh;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  // position: fixed;
  // bottom: 0;
  // right: 0;
  // left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#header-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  transition: left 0.2s;
}

.mdl-layout__drawer {
  img {
    width: 90%;
  }
}

.mdl-list__item {
  justify-content: center;
  cursor: pointer;
}

// ////////////////////////

.copy-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 10px;

  a {
    text-decoration: none;
    color: #706f6f;
    margin-bottom: 7px;

  }

  p {
    margin: 0;
    text-align: center;
  }
}

.fritill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  .fritill-logo {
    display: flex;
    justify-content: center;

    .fritill-logo-image {
      width: 50%;
    }
  }
}

// search-bar

.search-bar-container {
  // position: absolute;
  // right: 0;
  // left: 0;
  // top: 64px;
}

.search-bar {
  background-color: #fff;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  input {
    height: 46px;
    padding-left: 4px;
    border: 1px solid #f7f1f1;
    flex: 1;
    padding-left: 36px;

  }

  span {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 9px;
  }
}

.expand-header {
  width: 100%;
  height: 305px;
  background-color: #e4e4ee;
  padding-left: 241px;
  display: flex;

  img {
    padding: 17px;
  }

  .expand-header__description {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    margin: 10px;
    // text-align: center;


    span{
      margin-top: 5px;
    }
    .expand-header__titl {
      font-size: 24px;
      font-weight: 600;
      overflow: unset;
      margin: 10px 0;
    }
  }
}