extends layouts/app

block page-title
	| About
block content
	//- .page-cover
	//- 	img( class="image image--cover" src="https://source.unsplash.com/720x400/travel", alt="")
	.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
		.mdl-grid
			.mdl-cell.mdl-cell--9-col
				.articles.mdl-shadow--2dp
					#home.mdl-tabs__panel.is-active
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Home
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|1

					#legal.mdl-tabs__panel
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Legal
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|2

					#terms.mdl-tabs__panel
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Terms of Use
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|3
					#privacy.mdl-tabs__panel
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Privacy
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|3
					#policy.mdl-tabs__panel
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Policy
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|3
					#licenses.mdl-tabs__panel
						.article-item.mdl-card
							img( class="image image--article" src="https://source.unsplash.com/720x400/travel", alt="")
							.mdl-card__title
								h3.display-3 Licenses
							.mdl-card__supporting-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Mauris sagittis pellentesque lacus eleifend lacinia...
								|3
						

			.mdl-cell.mdl-cell--3-col
				.article-list
					.mdl-tabs__tab-bar.mdl-shadow--2dp
						a.mdl-tabs__tab.is-active(href='#home') Home
						a.mdl-tabs__tab(href='#legal') Legal
						a.mdl-tabs__tab(href='#terms') Terms of Use
						a.mdl-tabs__tab(href='#privacy') Privacy
						a.mdl-tabs__tab(href='#policy') Policy 
						a.mdl-tabs__tab(href='#licenses') Licenses 

				
