.mdl-layout__drawer
  a(href='/' class="mdl-layout-title")
    img(src='~images/apple-store.png' alt='apple store')
    //- Navigation
  nav.mdl-navigation.mdl-list
    a(class="mdl-navigation__link" href="/account.html") 
      i.material-icons.mdl-list__item-icon account_circle
      |  Account
    a(class="mdl-navigation__link" href="/plans.html") 
      i.material-icons.mdl-list__item-icon local_atm
      |  Plans
    a(class="mdl-navigation__link" href="/subscriptions.html") 
      i.material-icons.mdl-list__item-icon subscriptions
      |  Subscriptions
    a(class="mdl-navigation__link" href="/feedback.html") 
      i.material-icons.mdl-list__item-icon send
      |  feedback
    a(class="mdl-navigation__link" href="/account.html") 
      i.material-icons.mdl-list__item-icon language
      |  language
    a(class="mdl-navigation__link" href="/about.html") 
      i.material-icons.mdl-list__item-icon info
      |  About
    a(class="mdl-navigation__link" href="/about.html")
      i.material-icons.mdl-list__item-icon call
      |  contact us


    a(href='/#' class="mdl-list__item")
      img(src='~images/google-play.png' alt='apple store')

    a(href='/#' class="mdl-list__item")
      img(src='~images/apple-store.png' alt='apple store')

    .mdl-list__item.copy-right
      a(href='#')
        .footer__logo
          //- img(src='~images/logo.png' alt='logo kalami')
          | kalami
      p
        | &copy; 2022 
        strong Itqadem
          | . All Rights Reserved.
    .fritill
      p Developed and designed by
      a(href="https://fritill.com/" class="fritill-logo")
        img(class="fritill-logo-image" src='~images/Fritill-logo.png', alt="fritill-logo")

    //- .mdl-cell.mdl-cell--12-col
    //-   p copy rights


//#sidedrawer.mui--no-user-select
  #sidedrawer-brand.mui--appbar-line-height
  .username.mui--text-title logo
    //- img(src='./images/logo.png' alt='logo')
  .mui-divider
    ul
      li
        a(href='#')
          span.material-icons
            |account_circle
          |
      li
        a(href='#')
          span.material-icons
            |language
          |
      li
        a(href='#')
          span.material-icons
            |subscriptions
          |
      li
        a(href='#')
          span.material-icons
            |attach_money
          |
      li
        a(href='#')
          span.material-icons
            |send
          |
      li
        a(href='#')
          span.material-icons
            |description
          |
      li


      li

//
//header#header
//  .mui-appbar.mui--appbar-line-height
//    .mui-container-fluid
//      a.sidedrawer-toggle.mui--visible-xs-inline-block.mui--visible-sm-inline-block.js-show-sidedrawer &#x2630;
//      a.sidedrawer-toggle.mui--hidden-xs.mui--hidden-sm.js-hide-sidedrawer &#x2630;
//      span.mui--text-title.mui--visible-xs-inline-block kalami
