.mdl-layout__drawer
  a(href='/' class="mdl-layout-title")
    img(src='~images/apple-store.png' alt='apple store' class="kalami-logo")

  //- user
  .user
    img(src='~images/girl.png' alt='your image' class='user__image')
    .user__data 
      .user__data__name  name 
      .user__data__packs  9 packs

    //- Navigation
  nav.mdl-navigation.mdl-list
    a(class="mdl-navigation__link" href="account.html")
      i.material-icons.mdl-list__item-icon account_circle
      |  Account
    a(class="mdl-navigation__link" href="subscriptions.html")
      i.material-icons.mdl-list__item-icon subscriptions
      |  Subscriptions

    //- .mdl-menu__item--full-bleed-divider
    a(class="mdl-navigation__link" href="feedback.html")
      i.material-icons.mdl-list__item-icon send
      |  feedback
    a(class="mdl-navigation__link" href="about.html")
      i.material-icons.mdl-list__item-icon info
      |  About

    .mdl-menu__item--full-bleed-divider
    a(class="mdl-navigation__link" href="#")
      i.material-icons.mdl-list__item-icon logout
      | Logout



    .sidebar-footer 
      a(href='#' class="mdl-list__item sidebar-footer__download")
        img(src='~images/google-play.png' alt='apple store')

      a(href='#' class="mdl-list__item sidebar-footer__download")
        img(src='~images/apple-store.png' alt='apple store')

      .mdl-list__item.copy-right
        p
          | &copy; 2022 
          strong Itqadem
            | . All Rights Reserved.
      .fritill
        p Developed and designed by
        a(href="https://fritill.com/" class="fritill-logo")
          img(class="fritill-logo-image" src='~images/Fritill-logo.png', alt="fritill-logo")
