.mdl-card.mdl-shadow--2dp.plans-container.mdl-card--unset-width
  .mdl-card__title.mdl-card--expand

  .mdl-card__supporting-text
    h5 Unlock Kalami Premium
    p Functionality of Kalami will always be free. Premium offers +50 additional Assistive Card packs
    form
      ul.mdl-list
        li.mdl-list__item.mdl-list__item--two-line.plans-container__plan.mdl-color--cyan-50
          span.mdl-list__item-primary-content
            span Monthly
            .mdl-list__item-text-body 3 days FREE Trail
          span.mdl-list__item-secondary-content
            span.mdl-list__item-secondary-info EGP 100/Month
            span.mdl-list__item-secondary-action
              label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-1')
                input#list-option-1.mdl-radio__button(type='radio' name='options' value='1')


        li.mdl-list__item.mdl-list__item--two-line.plans-container__plan.mdl-color--cyan-50
          span.mdl-list__item-primary-content
            span Six Months
            .mdl-list__item-text-body 3 days FREE Trail
          span.mdl-list__item-secondary-content
            span.mdl-list__item-secondary-info EGP 500/6 Month
            span.mdl-list__item-secondary-action
              label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-2')
                input#list-option-2.mdl-radio__button(type='radio' name='options' value='2' checked='checked')

        li.mdl-list__item.mdl-list__item--two-line.plans-container__plan.mdl-color--cyan-50
          span.mdl-list__item-primary-content
            span Yearly
            .mdl-list__item-text-body 3 days FREE Trail
          span.mdl-list__item-secondary-content
            span.mdl-list__item-secondary-info EGP 1000/Year
            span.mdl-list__item-secondary-action
              label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-3')
                input#list-option-3.mdl-radio__button(type='radio' name='options' value='3')



        li.mdl-list__item.mdl-list__item--two-line.plans-container__plan.mdl-color--cyan-50
          span.mdl-list__item-primary-content
            span Lifetime
            .mdl-list__item-text-body One-time Payment
          span.mdl-list__item-secondary-content
            span.mdl-list__item-secondary-info EGP 2500
            span.mdl-list__item-secondary-action
              label.demo-list-radio.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='list-option-4')
                input#list-option-4.mdl-radio__button(type='radio' name='options' value='4')


      button.mdl-button.mdl-button--primary.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored.plans-container__submit
        | Subscribe to the Selected Plan
      p.mdl-typography--body-1.mdl-typography--font-bold.mdl-typography--text-center.mdl-color-text--red-A700 Cancel any time without cost