#sidedrawer-right.mui--no-user-select
  #sidedrawer-brand.mui--appbar-line-height
  .username.mui--text-title
    //- img.topic-image(src='../../../images/avatar.png' alt='avatar')
  .mui-divider
  ul
      li
       a(href='#') Description
      li
       a(href='#') Description
      li
       a(href='#') Description
      li
       a(href='#') Description
      li
       a(href='#') Description
      li
       a(href='#') Description
      

#header-right
  .mui-appbar.mui--appbar-line-height
    .mui-container-fluid
      //- a.sidedrawer-toggle-right.mui--visible-xs-inline-block.mui--visible-sm-inline-block.js-show-sidedrawer &#x2715;
      //- a.sidedrawer-toggle-right.mui--hidden-xs.mui--hidden-sm &#x2715;
      //- span.mui--text-title.mui--visible-xs-inline-block kalami