extends ./layouts/main

block content 
  h1 Lorem, ipsum.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi ut, magni similique sed, explicabo debitis iure quidem velit nihil blanditiis. Voluptatem natus, quo aut in amet quos eum voluptates.
  blockquote Lorem ipsum dolor sit amet.
  ul
    li Lorem ipsum dolor sit amet.55 
    li Obcaecati dolorem veritatis accusantium saepe.
    li Sapiente eius eum fugiat enim?
    li Impedit animi magni tenetur earum!
    li Excepturi quas doloribus animi? Molestias!
  button.mui-btn.mui-btn--primary Lorem, ipsum.
  em Lorem ipsum dolor sit amet.
  

  h2 Lorem, ipsum dolor.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consectetur ut ex?