extends ./layouts/main

block content 
	header.mui-appbar.mui--z1
		.mui-container
			.mui--appbar-height
				.mui--text-title.title Kalami
					


					//- 
	#content-wrapper.container
		.content-left-sidebar
			| left side bar
		.content-main.mui--text-center
			.mui--appbar-height
			br
			br
			.mui--text-display3.row.wow.zoomInDown Content
			br
			br
			button.mui-btn.mui-btn--raised Get started
			br
			br
			i.fa.fa-university.fa-5x.mui--text-display3.mui--color-pink-A100.row.wow.zoomIn(aria-hidden='true')
		.content-right-sidebar
			| right side bar
	.footer.mui-container.mui--text-center
		| Made with &hearts; by 
		a(href='https://www.muicss.com') Fritill
