doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Kalami
    
  body
    header.mui-appbar.mui--z1
      .mui-container
        .mui--appbar-height
          .mui--text-title.title Kalami
					

    #content-wrapper.container
      include ../partials/left-sidebar

      .main
        .content-main
          block content
        //- include ../partials/right-sidebar
