doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title Kalami
    link(rel='stylesheet' href='https://cdn.rtlcss.com/mdl/1.2.1/material.rtl.min.css' integrity='sha384-1z92ngOM16ZY2CickWgUrydff0ExYv2Fn8/6WUwsWxgrcJym3w+ogWivpi3nEh0G' crossorigin='anonymous')

    script(src='https://cdn.rtlcss.com/mdl/1.2.1/material.min.js' integrity='sha384-Llr4wcq+yhgKO4ZQRN7Sx88cvQneoOOxcysisJKroD8nKQA7y0NyriabEaMYsvWW' crossorigin='anonymous')


  body
    block layout